*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.user-img{
    width: 50px;
    border-radius: 50px;
    border: 1px solid #fff;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    
}